@use "../../../settings/variables" as *;

$icon-hover-color: #46c1ae;

.social {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 20px;
  padding: 25px 0 20px;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid $social-border-color;

  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 17px;
  }
}

.social__link {
  display: block;
  padding: 5px;
  color: $secondary-theme-color;
  transition: color $transition-duration ease;

  &:hover {
    color: $icon-hover-color;
  }

  &:focus-visible {
    color: $icon-hover-color;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      color: $icon-hover-color;
    }
  }

  &:active {
    opacity: $element-down-opacity;
  }
}
