@use "../../../settings/variables" as *;

$mark-size: 38px;
$radio-mark-color: $primary-theme-color-light;
$radio-mark-inset-size: 10px;
$checkbox-mark-color: $secondary-font-color;

.control {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
  word-wrap: break-word;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $secondary-font-color;

  &--radio,
  &--checkbox {
    padding-left: 61px;
    min-height: $mark-size;
  }

  &--tel::after,
  &--email::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    background: $secondary-font-color;
    opacity: 0.2;
  }

  &--tel::after {
    width: 30px;
    mask: url("../../../../img/components/phone.svg") no-repeat 0 5px;
  }

  &--email::after {
    width: 35px;
    mask: url("../../../../img/components/mail.svg") no-repeat 0 10px;
  }
}

.control__mark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  background-color: transparent;
  border: 2px solid $primary-font-color;
  width: $mark-size;
  height: $mark-size;

  &--radio {
    width: $mark-size - 2;
    height: $mark-size - 2;
    border-radius: 50%;
    box-shadow: inset 0 0 0 $radio-mark-inset-size #ffffff;
  }

  &--checkbox::before {
    content: "";
    position: absolute;
    mask: url("../../../../img/components/mark.svg") no-repeat center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.control__input {
  width: 100%;
  padding: 17px 0;
  border: none;
  box-shadow: inset 0 -2px 0 $secondary-font-color;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;

  &::placeholder {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    opacity: 0.3;
  }

  &--radio:checked + .control__mark--radio {
    background-color: $radio-mark-color;
  }

  &--checkbox:checked + .control__mark--checkbox::before {
    background-color: $checkbox-mark-color;
  }

  &--tel,
  &--email {
    padding: 10px 40px 17px 0;
  }
}

.control__textarea {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid $primary-font-color;
  min-height: 142px;
  padding: 17px;
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
  &::placeholder {
    color: inherit;
    opacity: 0.3;
  }
}
