@use "../../../settings/variables" as *;

$mark-size-mobile: 38px;
$mark-size-other: 52px;
$radio-mark-color: $primary-theme-color-light;
$radio-mark-inset-size-mobile: 10px;
$radio-mark-inset-size-other: 14px;
$checkbox-mark-color: $secondary-font-color;

.control {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
  word-wrap: break-word;
  font-weight: 700;
  font-size: $font-size-text-l;
  line-height: 18px;
  color: $secondary-font-color;
  transition: background-color $transition-duration ease;

  &--radio,
  &--checkbox {
    padding-left: 61px;
    min-height: $mark-size-mobile;

    @media (min-width: $tablet-width) {
      min-height: $mark-size-other;
      padding-left: 78px;
    }
  }

  &--tel::after,
  &--email::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    background: $secondary-font-color;
    opacity: 0.2;
  }

  &--tel::after {
    width: 32px;
    mask: url("../img/components/phone.svg") no-repeat 0 9px;

    @media (min-width: $tablet-width) {
      mask-position: 0 13px;
      width: 51px;
    }

    @media (min-width: $desktop-width) {
      width: 33px;
    }
  }

  &--email::after {
    width: 35px;
    mask: url("../img/components/mail.svg") no-repeat 0 15px;

    @media (min-width: $tablet-width) {
      mask-position: 0 19px;
      width: 54px;
    }

    @media (min-width: $desktop-width) {
      width: 36px;
    }
  }

  &:hover .control__mark {
    border-color: $primary-theme-color-light;
  }

  &:active .control__mark {
    border-color: #b3b3b3;
  }

  &:hover::after {
    opacity: 1;
    background-color: $primary-theme-color-light;
  }

  &:focus-within::after {
    opacity: 1;
    background-color: $primary-theme-color-light;
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.control__mark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  background-color: transparent;
  border: 2px solid $primary-font-color;
  width: $mark-size-mobile;
  height: $mark-size-mobile;
  transition: border-color $transition-duration ease;

  &--radio {
    width: $mark-size-mobile + 2;
    height: $mark-size-mobile + 2;
    border-radius: 50%;
    box-shadow: inset 0 0 0 $radio-mark-inset-size-mobile #ffffff;

    @media (min-width: $tablet-width) {
      box-shadow: inset 0 0 0 $radio-mark-inset-size-other #ffffff;
    }
  }

  &--checkbox::before {
    content: "";
    position: absolute;
    mask: url("../img/components/mark.svg") no-repeat center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      scale: 1.5;
    }
  }

  @media (min-width: $tablet-width) {
    width: $mark-size-other;
    height: $mark-size-other;
  }
}

.control__input {
  width: 100%;
  padding: 12px 10px 12px 0;
  border: none;
  border-bottom: 2px solid $secondary-font-color;
  border-radius: 0;
  font-size: 19px;
  line-height: inherit;
  font-family: inherit;
  letter-spacing: 1px;
  background-color: transparent;
  outline: none;
  transition: border-color $transition-duration ease;

  &::placeholder {
    font-size: $font-size-text-l;
    line-height: inherit;
    color: inherit;
    opacity: 0.3;
  }

  &--radio:checked + .control__mark--radio {
    background-color: $radio-mark-color;
  }

  &--checkbox:checked + .control__mark--checkbox::before {
    background-color: $checkbox-mark-color;
  }

  &--tel,
  &--email {
    padding-right: 40px;
    padding-bottom: 15px;

    @media (min-width: $tablet-width) {
      padding-right: 60px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 40px;
    }
  }

  &:focus-visible + .control__mark {
    border-color: $primary-theme-color;
  }

  @supports not selector(:focus-visible) {
    &:focus + .control__mark {
      border-color: $primary-theme-color;
    }
  }

  &:hover,
  &:focus {
    border-color: $primary-theme-color-light;
  }

  &:disabled + .control__mark {
    border-color: #b3b3b3;
  }

  &:disabled {
    border-color: #b3b3b3;
  }

  @media (min-width: $tablet-width) {
    padding-left: 17px;
  }
}

.control__textarea {
  width: 100%;
  border: 2px solid $primary-font-color;
  border-radius: 0;
  min-height: 142px;
  padding: 16px;
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
  letter-spacing: 1px;
  transition: border-color $transition-duration ease;
  outline: none;
  resize: none;

  &::placeholder {
    color: inherit;
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    border-color: $primary-theme-color-light;
  }

  &:disabled {
    border-color: #b3b3b3;
  }
}
