@use "../../../settings/variables" as *;

.card {
  flex: 1;

  &:hover .card__content {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active .card__content {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.card__image {
  width: 100%;
  height: auto;
  object-position: center;
  object-fit: contain;
  margin-bottom: 28px;
  flex: 1;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 0 28px;
  flex: 1;
  transition: box-shadow $transition-duration ease;

  @media (min-width: $tablet-width) {
    padding-top: 27px;
  }
}

.card__title {
  margin: 0 0 6px 0;
  font-weight: 700;
  font-size: $font-size-text-l;
  line-height: $line-height-text-m;
  color: $secondary-font-color;
  transition: opacity $transition-duration ease;

  &:hover {
    opacity: $element-hover-opacity;
  }

  &:focus {
    outline-color: $primary-theme-color;
  }

  &:active {
    opacity: $element-down-opacity;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.card__link {
  display: flex;
  flex-direction: column;
  border: 1px solid $border-color;
  background-color: $fourth-theme-color;
  text-decoration: none;
  height: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.card__text {
  margin: 0 0 18px 0;
  font-size: 13px;
  line-height: $line-height-text-l;
  color: $primary-font-color;

  @media (min-width: $tablet-width) {
    font-size: $font-size-text-m;
  }
}

.card__footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $border-color;
  padding: 23px 0 27px;

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}

.card__price {
  font-weight: 700;
  font-size: $font-size-text-m;
  line-height: $line-height-text-m;
  color: $secondary-font-color;

  @media (min-width: $tablet-width) {
    font-size: $font-size-text-l;
  }
}

.card__button {
  cursor: pointer;
  border: none;
  background: none;
  color: rgba($secondary-font-color, 0.2);
  transition: color $transition-duration ease;

  &:hover {
    color: $primary-theme-color;
  }

  &:focus {
    outline-color: $primary-theme-color;
  }

  &:active {
    opacity: $element-down-opacity;
  }
}
