@use "../../../settings/variables" as *;

.prop {
  display: grid;
  grid-template-columns: 97px 1fr;
  margin: 0;
  font-size: $font-size-text-m;
  line-height: $line-height-text-s;
  border-bottom: 1px solid $border-color;
}

.prop__item {
  margin: 0;
  color: $primary-font-color;
  padding: 9px 0 11px;

  @media (min-width: $desktop-width) {
    padding: 7px 0 12px;
  }
}
