@use "../../settings/variables" as *;

.hero {
  background-color: $third-theme-color;
  min-height: 177px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &--index {
    /* stylelint-disable */
    background-image: url("../img/index/hero/background/hero-mobile.jpg");
    background-image: image-set(
        url("../img/index/hero/background/hero-mobile@2x.webp") 2x,
        url("../img/index/hero/background/hero-mobile.webp") 1x,
        url("../img/index/hero/background/hero-mobile@2x.jpg") 2x,
        url("../img/index/hero/background/hero-mobile.jpg") 1x,
    );
    /* stylelint-enable */
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-position: center -19px;
    min-height: 488px;
    padding: 71px 0 0 0;

    @media (min-resolution: 2dppx) {
      background-size: 320px auto;
    }
  }

  &--simple {
    display: flex;
    justify-content: center;
    align-items: center;

    .hero__title {
      padding: 1em 0;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 160px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 24px;
      bottom: -12px;
      background: url("../img/components/zigzag-fill-desktop.svg") center bottom;
    }

    &--index {
      min-height: 680px;
      padding-top: 90px;
      background-size: auto;
      background-position: center -66px;
      /* stylelint-disable */
      background-image: url("../img/index/hero/background/hero-desktop.jpg");
      background-image: image-set(
          url("../img/index/hero/background/hero-desktop@2x.webp") 2x,
          url("../img/index/hero/background/hero-desktop.webp") 1x,
          url("../img/index/hero/background/hero-desktop@2x.jpg") 2x,
          url("../img/index/hero/background/hero-desktop.jpg") 1x,
      );
      /* stylelint-enable */
    }

    &--simple {
      padding-bottom: 38px;

      .hero__title {
        padding: 0;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--index {
      padding-top: 95px;
      min-height: 682px;
    }

    &::after {
      background-repeat: repeat-x;
      width: calc(100% + 100px);
      height: 40px;
      background-size: contain;
      bottom: -22px;
      left: -50px;
    }

    &--simple {
      padding-bottom: 59px;
      min-height: 193px;
    }

    &--simple::after {
      bottom: -17px;
    }
  }
}

.hero__container {
  margin-bottom: auto;
}

.hero__title {
  text-align: center;
  font-size: 27px;

  &--index {
    margin: 0 0 120px 0;
  }

  @media (min-width: $tablet-width) {
    font-size: $font-size-titles-tablet;
    line-height: $line-height-titles-tablet;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size-titles-desktop;
    line-height: $line-height-titles-desktop;
  }
}

.hero__buttons {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width - 1) {
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}
