@use "../../settings/variables" as *;

.hero {
  background: url("../../../img/index/hero/hero-mobile.jpg") no-repeat top, $third-theme-color;
  padding: 73px 0 0 0;
}

.hero__title {
  margin: 0 0 120px 0;
  text-align: center;
  font-size: 27px;
}
