@use "../../settings/variables" as *;

.production-process {
  padding: 22px 0 33px;
  border: 1px solid $border-color;
  background: $fourth-theme-color;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 0 46px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: minmax(auto, 685px) 1fr;
    padding: 0;
  }
}

.production-process__header,
.production-process__content {
  padding: 0 32px;

  @media (min-width: $desktop-width) {
    padding: 0 36px 0 79px;
  }
}

.production-process__header {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
  }
}

.production-process__content {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    padding-bottom: 60px;
  }
}

.production-process__title {
  margin: 0 0 27px;
  padding-left: 57px;
  font-weight: 700;
  font-size: $font-size-text-l;
  line-height: $line-height-text-m;
  color: $secondary-font-color;
  background: url("../img/catalog/video-icon.svg") no-repeat left center;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-left: 65px;
    background-position: left -2px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 49px 0 0;
    margin: 0;

    & br {
      display: block;
    }
  }
}

.production-process__video-wrapper {
  position: relative;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    order: -1;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1;
    grid-row: 1 / 3;
    margin: 0;
  }
}

.production-process__video {
  display: block;
  width: 100%;
  height: auto;
}

.production-process__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: $primary-theme-color;
  outline-color: $primary-theme-color;

  & svg {
    width: 100%;
    height: auto;
    transition: transform $transition-duration ease;
  }

  &:hover svg {
    transform: scale(1.2);
  }

  &:focus {
    border-radius: 15px;
  }

  &:focus svg {
    transform: scale(1.2);
  }

  &:active svg {
    transition: transform 0.05s;
    transform: scale(0.8);
    opacity: $element-down-opacity;
  }
}

.production-process__text {
  margin: 0 0 41px;
  font-size: 13px;
  line-height: $line-height-text-m;
  color: $primary-font-color;

  @media (min-width: $tablet-width) {
    font-size: $font-size-text-m;
    line-height: $line-height-text-l;
  }

  @media (min-width: $desktop-width) {
    margin-top: 28px;
  }
}

.production-process__button {
  width: 100%;

  @media (min-width: $desktop-width) {
    max-width: 230px;
  }
}
