@use "../../settings/variables" as *;

.contacts {
  padding: 38px 0 37px;

  @media (min-width: $tablet-width) {
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 0 105px;
  }
}

.contacts__container {
  overflow: hidden;

  @media (min-width: $desktop-width) {
    grid-template-rows: minmax(134px, auto) 1fr auto;
  }
}

.contacts__header {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 1;
    margin: 0;
    align-items: end;
  }
}

.contacts__title {
  @media (min-width: $desktop-width) {
    padding-right: 60%;
  }
}

.contacts__address {
  margin: 0;
  display: grid;
  grid-template-columns: 76px 1fr;

  color: $primary-font-color;
  font-size: $font-size-text-s;
  line-height: $line-height-text-l;

  @media (min-width: $tablet-width) {
    width: 50%;
    font-size: $font-size-text-l;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.contacts__type,
.contacts__info {
  margin: 0;
  padding: 19px 0 10px;
}

.contacts__type {
  word-break: break-all;
  padding-right: 10px;
}

.contacts__table {
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    display: flex;
    margin: 31px 0 38px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    flex-direction: column;
    margin: 18px 0;
  }
}

.contacts__link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid $primary-theme-color-light;
  transition: color $transition-duration ease, border-color $transition-duration ease;
  word-break: break-all;

  &:hover {
    border-color: #46c1ae;
    color: #46c1ae;
  }

  &:focus {
    outline-color: $primary-theme-color;
  }

  &:active {
    border-color: rgba(#46c1ae, 0.1);
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 7px;
  }
}

.contacts__map-wrapper {
  margin-bottom: 41px;
  display: flex;
  justify-content: center;
  width: calc(100% + $side-padding-mobile * 2);
  position: relative;
  left: calc(-1 * $side-padding-mobile);

  @media (min-width: $tablet-width) {
    width: calc(100% + $side-padding-other * 2);
    left: calc(-1 * $side-padding-other);
    grid-column: 1 / -1;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    left: 0;
    grid-column: 3;
    grid-row: 1 / -1;
    margin: 0;
  }
}

.contacts__map-pin {
  display: none;
  position: absolute;
  top: 43%;
  left: 53%;
  transform: translate(-48%, -51%);

  @media (min-width: $tablet-width) {
    transform: translate(-65%, -58%);
  }

  @media (min-width: $desktop-width) {
    transform: translate(-61%, -52%);
  }
}

.contacts__map-wrapper--nojs {

  position: relative;
  min-height: 454px;
  /* stylelint-disable */
  background-image: url("../img/index/map/map-mobile.jpg");
  background-image: image-set(
      url("../img/index/map/map-mobile@2x.webp") 2x,
      url("../img/index/map/map-mobile.webp") 1x,
      url("../img/index/map/map-mobile@2x.jpg") 2x,
      url("../img/index/map/map-mobile.jpg") 1x,
  );
  /* stylelint-enable */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .contacts__map-pin {
    display: block;
  }

  @media (min-width: $tablet-width) {
    min-height: 457px;
    margin-bottom: 55px;
    /* stylelint-disable */
    background-image: url("../img/index/map/map-tablet.jpg");
    background-image: image-set(
        url("../img/index/map/map-tablet@2x.webp") 2x,
        url("../img/index/map/map-tablet.webp") 1x,
        url("../img/index/map/map-tablet@2x.jpg") 2x,
        url("../img/index/map/map-tablet.jpg") 1x,
    );
    /* stylelint-enable */
  }

  @media (min-width: $desktop-width) {
    min-height: 457px;
    margin-bottom: 0;
  }
}

.contacts__map-wrapper--nojs .contacts__map {
  display: none;
}

.contacts__map {
  width: 100%;
  min-height: 455px;
  border: none;
}

.contacts__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 230px;
    grid-row: -2;
    grid-column: 1 / 3;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    justify-self: start;
  }
}

.contacts__decor {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
    top: 9px;
    left: -2px;
  }

  @media (min-width: $desktop-width) {
    justify-self: end;
    left: -6px;
  }
}
