@use "../../../settings/variables" as *;

.nav {
  display: none;
  flex-direction: column;
  z-index: 10;
  background-color: $fourth-theme-color;

  &--active {
    display: flex;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    background: none;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

/*=== Lists ===*/

.nav__list,
.nav__user-list {
  display: flex;
  flex-direction: column;
  list-style: none;

  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    max-width: 500px;
    align-content: start;
  }
}

.nav__list {
  @media (min-width: $tablet-width) {
    order: 2;
    padding-right: 285px;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    padding-right: 0;
  }
}

.nav__user-list {
  @media (min-width: $tablet-width) {
    position: relative;
    align-self: flex-start;
    margin-left: auto;
    padding-left: 150px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

/*=== Items ===*/

.nav__item,
.nav__user-item {
  position: relative;
  font-size: $font-size-text-l;
  font-weight: 700;
  line-height: $line-height-text-m;

  &--desktop-only {
    font-size: $font-size-text-m;
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.nav__item {
  @media (min-width: $desktop-width) {
    &:first-child::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1px;
      background-color: $border-color;
    }
  }
}

.nav__user-item {
  &--search .nav__user-link {
    @media (min-width: $tablet-width) {
      padding-left: 41px;
      padding-right: 40px;
    }
  }

  &--search::after,
  &--cart::after {
    content: "";
    position: absolute;
    top: 48%;
    left: 30px;
    height: 18px;
    width: 21px;
    transform: translateY(-50%);
    background-color: rgba($secondary-font-color, 0.2);
    z-index: -1;
    transition: background-color $transition-duration ease;

    @media (min-width: $tablet-width) {
      top: 50%;
      left: 32px;
    }
  }

  &--search::after {
    mask: url("../img/menu/menu-search.svg") no-repeat center;
  }

  &--cart::after {
    mask: url("../img/menu/menu-cart.svg") no-repeat center;
  }

  &:hover::after {
    background-color: $primary-theme-color;
  }

  &:active::after {
    background-color: rgba($primary-theme-color, 0.2);
  }
}

/*=== Links ===*/

.nav__link,
.nav__user-link {
  display: block;
  text-decoration: none;
  color: $secondary-font-color;
  padding: 27px 30px 27px 83px;
  height: 100%;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid $border-color;
  transition: opacity $transition-duration ease;

  &[href]:hover {
    opacity: $element-hover-opacity;
  }

  &:focus {
    outline-color: $primary-theme-color;
  }

  &[href]:active {
    opacity: $element-down-opacity;
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 31px;
    padding-bottom: 31px;
  }
}

.nav__link {
  @media (min-width: $tablet-width) {
    font-size: $font-size-text-m;
    padding: 22px 7px 21px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 36px 31px 32px;
    font-size: $font-size-text-l;

    &--desktop-only {
      font-size: $font-size-text-m;
      padding: 21px 31px;
    }
  }
}

.nav__user-link {
  @media (min-width: $tablet-width) {
    &--bordered {
      border-left: 1px solid $border-color;
    }
  }
}

.nav__user-link-span {
  @media (min-width: $tablet-width) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
