@use "../../settings/variables" as *;

.container {
  width: 100%;
  max-width: $desktop-width + $side-padding-mobile * 2;
  padding: 0 $side-padding-mobile;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: $desktop-width + $side-padding-other * 2;
    padding: 0 $side-padding-other;
  }
}
