.visually-hidden {
  position: absolute;
  width: 1px !important; /* stylelint-disable-line declaration-no-important */
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Обоснование для !important:
  На мобильной версии появляется горизонтальный скролл,
  проблема в том, что свойство width класса "control__input"
  переписывает аналогичное свойство класса "visually-hidden".
  На инпутах типа radio и checkbox, для позиционирования маркера
  используется левый паддинг, и в сумме width: 100% на "control_input"
  и padding-left: 61px на классах для чекбоксов и радиокнопок дают
  этот самый горизонтальный скролл. */
