$section-title-color: #000000;

.section {
  padding: 31px 0 42px;

  &--bordered {
    background: url("../../../img/components/zigzag-line.svg") repeat-x bottom;
  }
}

.section__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $section-title-color;
  margin: 0;
}

.section__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}
