@use "../../settings/variables" as *;

.button {
  display: inline-block;

  padding: 14px;
  min-width: 190px;

  text-decoration: none;
  font-weight: 700;
  font-size: $font-size-buttons-mobile;
  line-height: $line-height-buttons;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;

  &--primary {
    background: none;
    border: 2px solid $primary-font-color;
    color: $primary-font-color;
  }

  &--add {
    background-color: $primary-theme-color;
    border: none;
    color: $third-font-color;
    font-size: $font-size-modal-buttons;
    line-height: $line-height-modal-buttons;
  }

  @media (min-width: $tablet-width) {
    font-size: $font-size-buttons-tablet;
  }
}
