@use "../../settings/variables" as *;

.button {
  display: inline-block;

  padding: 14px;
  margin: 0;
  min-width: 190px;

  text-decoration: none;
  font-weight: 700;
  font-size: $font-size-buttons-mobile;
  line-height: $line-height-buttons;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
  transition: background-color $transition-duration ease, color $transition-duration ease;

  &--primary {
    background: none;
    border: 2px solid $primary-font-color;
    color: $primary-font-color;
  }

  &--add {
    background-color: $primary-theme-color;
    border: none;
    color: $third-font-color;
    font-size: $font-size-modal-buttons;
    line-height: $line-height-modal-buttons;
    transition: opacity $transition-duration ease;
    padding-top: 20px;

    &:hover {
      opacity: $element-hover-opacity;
    }

    &:active {
      opacity: $element-down-opacity;
    }
  }

  &--primary:not(&--disabled):hover {
    background-color: $primary-font-color;
    color: $third-font-color;
  }

  &--primary:not(&--disabled):focus-visible {
    outline-color: $primary-theme-color;
    background-color: $primary-font-color;
    color: $third-font-color;
  }

  @supports not selector(:focus-visible) {
    &--primary:not(&--disabled):focus {
      outline-color: $primary-theme-color;
      background-color: $primary-font-color;
      color: $third-font-color;
    }
  }

  &--primary:not(&--disabled):active {
    color: rgba($third-font-color, $element-down-opacity);
  }

  &:disabled,
  &--disabled {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: $font-size-buttons-tablet;
  }
}
