@use "../../settings/variables" as *;

$slider-button-border-color: $border-color;
$slider-button-color: $secondary-font-color;

.slider {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, auto);
  }
}

.slider__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}

.slider__item {
  display: none;
  padding: 15px 0 33px;

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    padding: 40px 0 0;
  }
}

.slider__buttons {
  display: flex;

  @media (min-width: $tablet-width) {
    grid-column: 2;
    grid-row: 2;
    max-width: 175px;
    position: relative;
    top: -5px;
  }
}

.slider__arrow {
  width: 130px;
  padding: 0;
  background: none;
  border: 1px solid $slider-button-border-color;
  height: 52px;
  position: relative;
  cursor: pointer;
  transition: opacity $transition-duration ease;

  &--right {
    border-left: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mask: url("../img/components/arrow.svg") no-repeat center;
    background-color: $slider-button-color;
  }

  &--right::after {
    transform: scaleX(-1);
  }

  &:hover {
    opacity: $element-hover-opacity;
  }

  &:focus {
    outline-color: $primary-theme-color;
  }

  &:active {
    opacity: $element-down-opacity;
  }

  @media (min-width: $tablet-width) {
    border-color: transparent;
  }
}
