@use "../../settings/variables" as *;

$mark-border-color: #4444441a;
$mark-border-color-checked: $primary-theme-color;

.control-button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 52px;
  min-width: 82px;
  cursor: pointer;
}

.control-button__input {
  &:checked + .control-button__mark {
    border-color: $mark-border-color-checked;
  }
}

.control-button__mark {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid $mark-border-color;
}

.control-button__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $primary-font-color;
}
