$prod-toggle-bg: #56c3b2;
$prod-toggle-bg-checked: #63d1bb;
$prod-toggle-decor-color: #149080;

.product-toggle {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: $prod-toggle-bg;
  border: none;
  padding: 24px 0;
  text-align: left;
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  position: relative;


  &--interior::after,
  &--toys::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    background-color: $prod-toggle-decor-color;
  }

  &--interior::after {
    mask: url("../../../../img/index/hero/interior.svg") no-repeat center;
    width: 40px;
    right: 35px;
  }

  &--toys::after {
    mask: url("../../../../img/index/hero/toy.svg") no-repeat center;
    width: 60px;
    right: 30px;
  }

  &--checked {
    background-color: $prod-toggle-bg-checked;
  }
}

.product-toggle__container {
  width: 150px;
  margin: 0 auto 0 0;
}
