@use "../../../settings/variables" as *;

.nav {
  display: none;
  background-color: $fourth-theme-color;

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    background: none;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

/*=== Lists ===*/

.nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 85%;


    &--left {
      max-width: 55%;
      column-gap: 37px;
    }

    &--right {
      justify-content: flex-end;
      position: relative;
      align-self: flex-end;
    }
  }

  @media (min-width: $desktop-width) {
    align-self: flex-start;
    flex: 1;

    &--left {
      column-gap: 0;
    }

    &--right {
      padding-left: 155px;
    }
  }
}

/*=== Items ===*/

.nav__item {
  font-size: $font-size-text-l;
  font-weight: 700;
  line-height: $line-height-text-m;
  position: relative;

  &--search::after,
  &--cart::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    z-index: 0;
    height: 18px;
    width: 21px;
    transform: translateY(-50%);
    background-color: rgba($secondary-font-color, 0.2);
    transition: background-color $transition-duration ease;
  }

  &--search::after {
    mask: url("../img/menu/menu-search.svg") no-repeat center;
  }

  &--cart::after {
    mask: url("../img/menu/menu-cart.svg") no-repeat center;
  }

  &--desktop-only {
    font-size: $font-size-text-m;
    display: none;

  }

  &--text {
    display: none;
    font-size: $font-size-text-m;
    font-weight: 400;
    color: $primary-font-color;
  }

  &:hover::after {
    background-color: $primary-theme-color;
  }

  &:active::after {
    background-color: rgba($primary-theme-color, 0.2);
  }

  @media (min-width: $tablet-width) {
    &--text {
      display: block;
      position: absolute;
      padding-top: 21px;
      text-align: right;
      top: 100%;
      max-width: 50%;
    }

    &--left {
      font-size: $font-size-text-m;
    }
  }

  @media (min-width: $desktop-width) {
    &--left {
      font-size: $font-size-text-l;

      &:first-child::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
        background-color: $border-color;
      }

      &:nth-child(2n - 1) .nav__link {
        padding-left: 0;
      }
    }

    &--desktop-only {
      display: block;
      font-size: $font-size-text-m;
    }
  }

}


/*=== Links ===*/

.nav__link {
  z-index: 1;
  position: relative;
  display: block;
  text-decoration: none;
  color: $secondary-font-color;
  font-size: inherit;
  line-height: inherit;
  padding: 28px 0 26px 76px;
  border-bottom: 1px solid $border-color;
  transition: opacity $transition-duration ease;

  &[href]:hover {
    opacity: $element-hover-opacity;
  }

  &:focus {
    outline-color: $primary-theme-color;
  }

  &[href]:active {
    opacity: $element-down-opacity;
  }

  @media (min-width: $tablet-width) {
    border: none;

    &--left {
      padding: 21px 0;
    }

    &--right {
      padding: 33px 0 31px;
    }

    &--cart {
      padding-left: 81px;
    }

    &--search {
      padding: 33px 40px 55px 42px;
    }

    &--bordered {
      border-left: 1px solid $border-color;
    }
  }

  @media (min-width: $desktop-width) {
    &--cart {
      padding-right: 2px;
    }

    &--left {
      padding: 33px 36px 32px;
    }

    &--desktop-only {
      padding: 19px 31px;
    }
  }
}


.nav__link-span {
  @media (min-width: $tablet-width) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
