@use "../../settings/variables" as *;

.order-form__group {
  padding: 30px 0;
  border: none;
  border-top: 1px solid $primary-theme-color-light;

  &--padding-s {
    padding-top: 10px;
  }

  &--padding-textarea {
    padding: 20px 0 17px;
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 0;
  }
}

.order-form__title {
  padding-inline-start: 0;
  padding-inline-end: 25px;
  color: $primary-theme-color;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    position: relative;
    bottom: -25px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 8%;
  }
}

.order-form__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  @media (min-width: $tablet-width) {
    padding-left: 25%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 16.75%;
  }
}

.order-form__prompt {
  font-size: 14px;
  line-height: 16px;
  color: $primary-font-color;
  margin: 0 0 30px 0;
}

.order-form__button {
  width: 100%;
}
