@use "../../settings/variables" as *;

.popular-product__header {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    grid-row: 1;
    grid-column: 1 / -1;
  }
}

.popular-product__title {
  margin-bottom: 4px;
  position: relative;
  z-index: 1;
}

.popular-product__description {
  margin: 0 0 18px;
  font-size: 15px;
  line-height: 24px;
  color: $primary-font-color;
}

.popular-product__image {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  margin: 28px 0 26px;

  @media (min-width: $tablet-width) {
    grid-column: 2;
    grid-row: 2 / -1;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3;
    grid-row: 1 / -1;
  }
}

.popular-product__content {
  @media (min-width: $desktop-width) {
    grid-column: 2;
  }
}

.popular-product__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $primary-font-color;
  text-align: center;
  margin: 0 0 25px 0;

  @media (min-width: $desktop-width) {
    grid-column: 2;
    grid-row: 3;
  }
}

.popular-product__button {
  @media (min-width: $desktop-width) {
    grid-column: 2;
    grid-row: 4;
  }
}
