$footer-bg-color: #f1f1f1;
$footer-link-color: #000000;
$academy-logo-color: #63d1bb;

.footer {
  background-color: $footer-bg-color;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__copyright-link {
  text-decoration: none;
  padding: 25px 50px 20px 0;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $footer-link-color;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 55%;
    transform: translateY(-50%);
    right: 0;
    mask: url("../../../img/components/htmlacademy.svg") no-repeat center /cover;
    width: 30px;
    height: 34px;
    background-color: $academy-logo-color;
  }
}
