@use "../../settings/variables" as *;

$element-hover-color: #46c1ae;

.footer {
  background-color: $third-theme-color;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 143px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.footer__copyright-link {
  text-decoration: none;
  padding: 28px 56px 30px 0;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $secondary-font-color;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 49%;
    transform: translateY(-50%);
    right: 0;
    mask: url("../img/components/htmlacademy.svg") no-repeat center /cover;
    width: 29px;
    height: 41px;
    background-color: $primary-theme-color;
    transition: background-color $transition-duration ease;

    @media (min-width: $tablet-width) {
      top: 45%;
    }
  }

  &:hover::after {
    background-color: $element-hover-color;
  }

  &:focus-visible::after {
    background-color: $element-hover-color;
  }

  @supports not selector(:focus-visible) {
    &:focus::after {
      background-color: $element-hover-color;
    }
  }

  &:active::after {
    opacity: $element-down-opacity;
  }

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    padding-right: 57px;
  }
}

.footer__logo {
  display: none;
  color: $secondary-font-color;
  transition: color $transition-duration ease;

  &[href]:hover {
    color: $element-hover-color;
  }

  &:focus-visible {
    color: $element-hover-color;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      color: $element-hover-color;
    }
  }

  &[href]:active {
    opacity: $element-down-opacity;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}
