@use "../../settings/variables" as *;

.header {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  @media (max-width: $tablet-width - 1) {
    &--nojs &__logo {
      position: static;
      transform: translate(0, 0);
      padding: 1em 0;
    }

    &--nojs .nav {
      display: flex;
      width: 100%;
      position: static;
    }

    &--nojs .burger {
      display: none;
    }
  }
}

.header__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  min-height: 78px;

  @media (min-width: $tablet-width) {
    min-height: 86px;
  }
}

.header__logo {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  order: 1;
  transition: opacity $transition-duration ease;

  &[href]:hover {
    opacity: $element-hover-opacity;
  }

  &:focus {
    outline-color: $primary-theme-color;
  }

  &[href]:active {
    opacity: $element-down-opacity;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    top: 2px;
    left: 0;
    transform: translate(0, 0);
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.header__burger {
  order: 2;
}

.header__nav {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  right: 0;
  order: 3;

  @media (min-width: $tablet-width) {
    top: 0;
    padding: 0 20px;
  }
}

.header__text {
  display: none;
  position: absolute;
  right: 30px;
  bottom: -46px;
  margin: 0;
  font-size: $font-size-text-m;
  line-height: $line-height-text-m;
  color: $primary-font-color;
  max-width: 300px;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
