@use "../../settings/variables" as *;

.header {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.header__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 19px;
  padding-bottom: 18px;
}

.header__logo {
  margin: 0 auto;
  position: relative;
  z-index: 15;
  order: 1;
  transition: opacity $transition-duration ease;

  &[href]:hover {
    opacity: $element-hover-opacity;
  }

  &:focus {
    outline-color: $primary-theme-color;
  }

  &[href]:active {
    opacity: $element-down-opacity;
  }

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.header__burger {
  order: 2;
}

.header__nav {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  right: 0;
  order: 3;

  @media (min-width: $tablet-width) {
    top: 0;
    padding: 0 20px;
  }
}

.header__text {
  display: none;
  position: absolute;
  right: 30px;
  bottom: -50px;
  margin: 0;
  font-size: $font-size-text-m;
  line-height: $line-height-text-m;
  color: $primary-font-color;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
