@use "../../settings/variables" as *;

.header {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 19px;
  padding-bottom: 18px;
}

.header__logo {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.header__nav {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  right: 0;

  @media (min-width: $tablet-width) {
    top: 0;
  }
}

.header__text {
  $line-height: 24px;
  display: none;
  position: absolute;
  right: $side-padding-other;
  bottom: calc(-50% - ($line-height / 2));
  margin: 0;
  font-size: 15px;
  line-height: $line-height;
  color: $primary-font-color;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
