$burger-color: #231F20;
$burger-height: 14px;
$burger-width: 20px;
$burger-transition: 0.4s;
$burger-elem-thickness: 2px;

.burger {
  background: none;
  border: none;
  padding: 0;
  position: relative;
  align-self: center;
  height: $burger-height;
  width: $burger-width;

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: $burger-elem-thickness;
    background-color: $burger-color;
    left: 0;
    right: 0;
    transition: transform $burger-transition ease;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &--active .burger__item {
    opacity: 0;
  }

  &--active::before {
    transform: translateY($burger-height * 0.5 - 1) rotate(-45deg);
  }

  &--active::after {
    transform: translateY($burger-height * -0.5 + 1) rotate(45deg);
  }
}

.burger__item {
  width: 100%;
  height: $burger-elem-thickness;
  background-color: $burger-color;
  transition: opacity $burger-transition ease;
}
