@use "../../../settings/variables" as *;

$burger-height: 14px;
$burger-width: 20px;
$burger-transition: 0.4s;
$burger-elem-thickness: 2px;
$burger-color: $secondary-theme-color;

.burger {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  align-self: center;
  height: $burger-height;
  width: $burger-width;
  cursor: pointer;
  transition: opacity $transition-duration ease;

  &:hover {
    opacity: $element-hover-opacity;
  }

  &:focus {
    outline-color: $primary-theme-color;
  }

  &:active {
    opacity: $element-down-opacity;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: $burger-elem-thickness;
    background-color: $burger-color;
    left: 0;
    right: 0;
    transition: transform $burger-transition ease;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &--active .burger__item {
    opacity: 0;
  }

  &--active::before {
    //transform: translateY($burger-height * 0.5 - 1) rotate(-45deg);
    transform: translate(-4px, 6px) rotate(-45deg);
    width: 130%;
  }

  &--active::after {
    //transform: translateY($burger-height * -0.5 + 1) rotate(45deg);
    transform: translate(-3px, -6px) rotate(45deg);
    width: 130%;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.burger__item {
  display: block;
  width: 100%;
  height: $burger-elem-thickness;
  background-color: $burger-color;
  transition: opacity $burger-transition ease;
}
