@use "../../settings/variables" as *;

.reviews {
  @media (min-width: $tablet-width) {
    padding: 31px 0 68px;
  }
}

.reviews__container {
  @media (min-width: $tablet-width) {
    background: url("../../../img/index/reviews/reviews-bg.jpg") no-repeat left;
    grid-template-rows: 133px 1fr;
  }

  @media (min-width: $desktop-width) {
    background-position: $side-padding-other center;
  }
}

.reviews__header {
  @media (min-width: $tablet-width) {
    grid-row: 1;
    grid-column: 1 / -1;
    align-self: end;
  }
}

.reviews__slider {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    margin-bottom: 96px;
  }
}

.reviews__item {
  font-size: $font-size-text-m;
  line-height: $line-height-text-l;
  color: $primary-font-color;

  @media (min-width: $tablet-width) {
    font-size: $font-size-text-l;
  }
}

.reviews__text {
  margin: 0 0 33px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }
}

.reviews__author {
  font-weight: 700;
  font-size: $font-size-text-l;
  line-height: $line-height-text-m;
  color: $secondary-font-color;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.reviews__author-social {
  line-height: $line-height-text-m;
  display: block;
}

.reviews__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-row: 1;
    grid-column: 2;
    width: auto;
    justify-self: end;
    align-self: end;
    min-width: 175px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1;
    grid-column: 3;
    align-self: end;
  }
}
