@use "../../settings/variables" as *;

.cart-adding {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 354px;
  }
}

.cart-adding__title {
  font-weight: 700;
  font-size: $font-size-titles-mobile;
  line-height: $line-height-titles-mobile;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 14px 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 57px;
  }
}

.cart-adding__group {
  border: none;
  padding: 22px 0 32px 0;
  text-align: center;
  font-size: $font-size-text-m;
  line-height: $line-height-text-l;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
  }
}

.cart-adding__heading {
  @media (min-width: $tablet-width) {
    font-size: $font-size-text-l;
    line-height: $line-height-text-l;
  }
}

.cart-adding__list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 7px;
}

.cart-adding__item {
  flex: 1;
}

.cart-adding__button {
  width: 100%;
}
