$font-family: "Open Sans", sans-serif;

$primary-font-color: #444444;
$secondary-font-color: #000000;
$third-font-color: #ffffff;

$primary-theme-color: #63d1bb;
$primary-theme-color-not-active: #56c3b2;
$primary-theme-color-decor: #149080;
$primary-theme-color-light: #62d1ba;

$secondary-theme-color: #231f20;
$third-theme-color: #f1f1f1;
$fourth-theme-color: #ffffff;

$border-color: #ececec;
$social-border-color: #e5e5e5;
$map-pin-color: #6bc6b3;
