// Параметры шрифтов
$font-family: "Open Sans", "Arial", sans-serif;
$primary-font-color: #444444;
$secondary-font-color: #000000;
$third-font-color: #ffffff;

//Брейкпоинты и размеры сайта
$tablet-width: 768px;
$desktop-width: 1150px;
$side-padding-mobile: 30px;
$side-padding-other: 50px;

// Текст
$font-size-text-s: 14px;
$font-size-text-m: 15px;
$font-size-text-l: 17px;

$line-height-text-s: 20px;
$line-height-text-m: 24px;
$line-height-text-l: 30px;

// Заголовки
$font-size-titles-mobile: 25px;
$font-size-titles-tablet: 43px;
$font-size-titles-desktop: 53px;

$line-height-titles-mobile: 30px;
$line-height-titles-tablet: 50px;
$line-height-titles-desktop: 57px;

// Кнопки
$font-size-buttons-mobile: 18px;
$font-size-buttons-tablet: 17px;
$font-size-buttons-desktop: 20px;
$line-height-buttons: 20px;
$line-height-buttons-desktop: 30px;

// Модальное окно
$font-size-modal-buttons: 17px;
$line-height-modal-buttons: 16px;

// Цветовая палитра сайта
$primary-theme-color: #63d1bb;
$primary-theme-color-light: #62d1ba;
$secondary-theme-color: #231f20;
$third-theme-color: #f1f1f1;
$fourth-theme-color: #ffffff;
$border-color: #ececec;
$social-border-color: #e5e5e5;
$map-pin-color: #6bc6b3;

//Состояния интерактивных элементов
$element-hover-opacity: 0.6;
$element-down-opacity: 0.3;
$transition-duration: 0.15s;
